<div class='header'>
  <h2>DEX Tracker</h2>
  <p>Get statistics/volume of the various DEX operating on Ethereum</p>
</div>

<div class='footer'>
  <div *ngIf="tokenAddressesPair">
    <div *ngFor="let token of tokenAddressesPair">
      {{token}} <br>
      <div *ngFor="let tokenPair of objectKeys(get_tokenPairs(token))">
        {{tokenPair}}
        <div *ngFor="let tx of get_pairStatistic(token, tokenPair)">
          Timestamp: {{tx.timestamp}}, Buy: {{tx.buyAmount / get_tokenDecimal(token)}}, Sell: {{tx.sellAmount}}, GasCost: {{tx.gasCost}}
        </div>
      </div>
      <div>---</div>
    </div>
  </div>
</div>