<div class='header'>
  <h2>About</h2>
  <p>Who we are and how to contact</p>
</div>
<div class='footer'>
  <p>The intention of this project is mainly to give everybody fast visual access to the information available on the open ethereum ledger. Having followed cash flows in multiple occassions by hand using etherscan or simple scripts, we realized it would be much easier if one could directly visualize the flow to directly observe any connections on first glance. For this purpose, we combined <a href="https://metamask.io" target="_blank">Metamask</a> (easy access to data), <a href="http://visjs.org/" target="_blank">vis.js</a> (visualization library) and used Angular to make an (hopefully) easy to use front-end. If you have any suggestions, feel free to contact us.</p>
  <p>ObservEth was mainly developed by the following </p>
  
  <div class='row'>
    <div class='col-6' style='text-align:center'>
      <img src='assets/homiedomi.png'>
      <div><i>homiedomi</i></div>
    </div>
    <div class='col-6' style='text-align:center'>
      <img src='assets/thojest.png'>
      <div><i>thojest</i></div>
    </div>
</div>