<div class='header'>
  <h2>Token Observer</h2>
  <p>View the historical transactions of the ERC20 token of your choice</p>
</div>


<div id="loading">
  <div id='loading_info_text'></div>
  <div id="loading_progress_text">0%</div>
</div>
<div id="Mindmap"></div>

<div class='footer'>
  <div class='row'>
    <div class='col-sm-6'>
      <div>
        Token Contract: 
        <input [(ngModel)]=tokenContractAddress 
               placeholder="Token Contract Address">
      </div>
    </div>
    <div class='col-sm-5'>
      <div>
        Get data from X last blocks: 
        <input [(ngModel)]=numBlocks 
               placeholder="Get data from last X blocks">
      </div>
    </div>
    <div class='col-sm-1'>
      <button (click)='updateData()'>Get</button>
    </div>
  </div>
</div>
