<div class='header'>
  <h2>Token Observer</h2>
  <p>View the historical transactions of the ERC20 token of your choice</p>
</div>


<div id="container_mindmap">
  <div id="Mindmap"></div>
  <div id="loading" *ngIf="mindmap.in_loading_status">
    <div id='loading_info_text'>{{mindmap.status}}</div>
    <div class="loader"></div> 
  </div>
</div>

<div class='footer'>
  <div class='row' style='width:100%;'>
    <div class="col-sm-1">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary"
                (click)="toggleFilters()">Filter</button>
      </div>
    </div>
    <div class="col-sm-10">
    </div>
    <div class="col-sm-1">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary"
                (click)="toggleOptions()">Get Token</button>
      </div>
    </div>
  </div>
</div>

<app-token-observer-options></app-token-observer-options>