<div class='container'>
  <div class='row'>
    <div class='col-sm-5'>
      <div>
        Token Contract: 
        <input [(ngModel)]=tokenContractAddress 
               placeholder="Token Contract Address">
      </div>
    </div>
    <div class='col-sm-5'>
      <div>
        Get data from X last blocks: 
        <input [(ngModel)]=numBlocks 
               placeholder="Get data from last X blocks">
      </div>
    </div>
    <div class='col-sm-2'>
      <button (click)='updateData()'>Load Data</button>
    </div>
  </div>
</div>

<div class='row' id='MindmapRow'>
  <div class='col-sm-10'>
    <div id="TokenMindmap"></div>
    <div id="loadingBar">
      <div id='loadingBar_header_text'></div>
      <div class="outerBorder">
        <div id="border">
            <div id="bar">
              <div id="loading_progress_text">0%</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-2'>
    Statistics
  </div>
</div>
