#TokenMindmap {
    /* min-height:30em; */
    /* height:auto !important; */
    /* width: 100%; */
    /* height: 35em; */

    width: 100%;
    height:100%;
    border: 1px dashed lightgray;
}

div#TokenMindmap {
    width: 80%;
    margin: auto;
    margin-top:10px;

    padding: 1%;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.8);
    
    height:40em;
}
#loading {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color:rgba(200,200,200,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity:1;
    display: none;
}

#loading_progress_text {
    text-align: center;
    /* position:relative;
    top:0em;
    left:0em;
    width:0em;
    height:0em;
    margin:auto auto auto auto;
    font-size:22px;
    color: #000000; */
}

#loading_info_text {
    text-align:center;
}