<div class='header'>
  <h2>No Connection to Ethereum</h2>

  <p>We were unable to connect to Metamask and no local node was running on port 8545.</p>

  <p><a href='http://metamask.io' target="_blank"><img src='https://github.com/MetaMask/metamask-extension/blob/master/app/images/icon-128.png?raw=true'></a></p>
  <p>Consider installing the browser plugin Metamask to access Ethereum.</p>
</div>
<particles [style]="particle.style" 
           [params]="particle.params"
           [width]="particle.width" 
           [height]="particle.height">
</particles>