<div class='header'>
  <h2>To him that watches, everything is revealed.</h2>
  <p>
    You arrived at a place, where we take the Ethereum blockchain data, 
    filter it for our interests, and visualize the information to learn from it.
  </p>
  <p>
    To obtain the needed data have the Metamask plugin installed
    or run a local Ethereum node.
  </p>
  <p>
    In case the information you found here has been useful to you, 
    consider donating a small bit to help cover server costs and finance the 
    implementation of further analysis methods.</p>
</div>
<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>