<p-sidebar [(visible)]="display" styleClass='ui-sidebar-md'>
  <div *ngIf="filtersService && filterList">
    <h2 style="text-align:left;"> Filters </h2>
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <p-dropdown [options]="filterList" [(ngModel)]="selectedFilterString" [autoWidth]="true"></p-dropdown>
        <span *ngIf="selectedFilterString">
        <input type="number" class="form-control"
             ng-model="input-number"
             aria-label="Filter input"
             placeholder="{{filterPlaceholder}}"
             [(ngModel)]="filtersService.filters[selectedFilterString].value"
             (change)="filterValueChanged(selectedFilterString)"
             contenteditable="true">
         </span>
      </div>
    </div>
    <div *ngIf="selectedFilterString">
      Selected filter: {{filterName}}
    </div>
    <br>
    <div *ngIf="filtersService.activeFilterList && filtersService.activeFilterList.length > 0">
      <h4 style="text=align:left;"> Active Filters </h4>
      <div *ngFor="let filter of filtersService.activeFilterList">
        {{filter}}
      </div>
    </div> 
  </div>
</p-sidebar>