input.form-control {
    text-align: right;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

#Mindmap {
    width: 100%;
    height:100%;
}


#blockNumber {
    text-align: center;
    color: black;
}


#container_mindmap {
    width: 80%;
    margin: auto;
    margin-top:10px;
    position:relative;

    padding: 1%;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.8);
    
    height:40em;
}

#loading {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(200,200,200,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity:1;
    z-index:10;
    display: block;
}

#loading_info_text {
    text-align:center;
}

.loader {
    position: relative;
    top: 17em;
    left: 50%;
    border: 16px solid #62688f; /* Light grey */
    border-top: 16px solid #454a75;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
