<div class='header'>
  <h2>Live EtherWatch</h2>
  <p>View the blockchain data in real time</p>
  <div *ngIf='currentBlock' id='blockNumber'>
    Current Blocknumber: {{plottedBlock}} 
     <a target="_blank" 
                      href='https://etherscan.io/txs?block={{plottedBlock}}'><i class="fa fa-external-link"></i></a>

  </div>
  <div *ngIf='!currentBlock' id='blockNumber'>
    Getting current blocknumber...
  </div>
</div>

<div id="container_mindmap">
  <div id="Mindmap"></div>
  <div id="loading" *ngIf="mindmap.in_loading_status">
    <div id='loading_info_text'>{{txtreaterService.status}}</div>
    <div id='loading_info_text'>{{mindmap.status}}</div>
    <div class="loader"></div> 
  </div>
</div>

<div class='footer'>  
  <div class="row">
    <div class="col-sm-1">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary"
                (click)="toggleOptions()">Options</button>
      </div>
    </div>
    <div class="col-sm-10"></div>
    <div class="col-sm-1">
      <div class="input-group-btn">
        <button *ngIf="isLiveUpdating" type="button" class="btn btn-secondary"
                (click)="toggleFreeze()">Freeze</button>
        <button *ngIf="!isLiveUpdating" type="button" class="btn btn-secondary"
                (click)="toggleFreeze()">Unfreeze</button>
      </div>
    </div>
  </div>
</div>

<app-live-ethereum-options></app-live-ethereum-options>
