<div class='header'>
  <h2>Live EtherWatch</h2>
  <p>View the blockchain data in real time</p>
  <div *ngIf='currentBlock' id='blockNumber'>
    Current Blocknumber: {{plottedBlock}} 
     <a target="_blank" 
                      href='https://etherscan.io/txs?block={{plottedBlock}}'><i class="fa fa-external-link"></i></a>

  </div>
</div>

<div id="Mindmap"></div>

<div class='footer'>  
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" 
                  class="btn btn-secondary dropdown-toggle" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false">
            {{filterButtonLabel}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" 
              (click)="selectedFilter('MinTxVol')">
              {{filters['MinTxVol'].title}}
            </a>
            <a class="dropdown-item"
              (click)="selectedFilter('MinGasPri')">
              {{filters['MinGasPri'].title}}
            </a>
            <a class="dropdown-item"
              (click)="selectedFilter('MinGas')">
              {{filters['MinGas'].title}}
            </a>
          </div>
        </div>
        <input type="number" class="form-control"
               ng-model="input-number"
               aria-label="Filter input"
               placeholder="{{filterPlaceholder}}"
               [(ngModel)]="filters[currentFilterSelection].value"
               (change)="filterValueChanged(currentFilterSelection)"
               contenteditable="true">
      </div>
    </div>
    <div class="col-sm-6">
      <div *ngFor="let filter of activeFilterList">
        {{filter}}
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf='current_block && filtered_transactions.length > 0'>
  <p><u>Block Details</u></p> 
    <ul>
      <li *ngFor="let tx of filtered_transactions">
        {{tx.hash}} <a target="_blank" 
                      href='https://etherscan.io/tx/{{tx.hash}}'><i class="fa fa-external-link"></i></a>
        <ul>
          <li>From: {{tx.from}}</li>
          <li>To: {{tx.to}}</li>
          <li>Value: {{tx.value/1e18}} Ξ</li>
          <li>Gas: {{tx.gas}}  </li>
          <li>GasPrice: {{tx.gasPrice/1e9}} GWei </li>
          <li>Gas paid: {{tx.gasPrice*tx.gas/1e18}} Ξ </li>
        </ul>
      </li>
    </ul>
</div> -->
