<p-dialog header='Options' [(visible)]='display' [width]=420>
  <div><h2 style="text-align: left;">Select Range of Blocks</h2></div>
  <div style='text-align:center;' *ngIf="fromBlock">
    
    <div class='row' style='width:100%;'>
      <div class="col-sm-5">
        <input class='BlockNumberInput' [type]='number' [(ngModel)]=fromBlock 
           placeholder="From" style='width:100%' (ngModelChange)='setDate("from")'>
        <div *ngIf="fromBlockDate">{{fromBlockDate | relativeDate}}</div>
      </div>
      <div class="col-sm-2">
        - 
      </div>
      <div class="col-sm-5">
        <input class='BlockNumberInput' [type]='number' [(ngModel)]=toBlock 
           placeholder="To" style='width:100%' (ngModelChange)='setDate("to")'>
        <div *ngIf="toBlockDate">{{toBlockDate | relativeDate}}</div>
       </div>
     </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="getData()" label="Get"></button>
  </p-footer>
</p-dialog>

